.top {
	display: flex;
	align-items: center;
	gap: 8px;
	margin: 16px;

	.overview {
	}
}

.sectionHeader {
	margin: 16px 16px 8px;

	.sectionTitle {
		font-size: 0.85rem;
		color: var(--fg-secondary);
	}
}
