.container {
	margin: 16px 0;

	.top {
		display: flex;
		align-items: center;
		margin-bottom: 16px;

		.heading {
			margin-right: 16px;
			margin-left: 16px;
			font-family: var(--font-heading);
			font-size: 1.5rem;
			font-weight: 700;
		}
	}

	.content {
		padding: 0 16px;
		isolation: isolate;

		&:has(.scroll) {
			overflow-x: scroll;
		}

		.scroll {
			display: flex;
			width: max-content;
			gap: 16px;
			margin-bottom: 16px;
		}

		.stack {
			display: flex;
			flex-wrap: wrap;
			gap: 32px 16px;
			padding-bottom: 31px;
		}
	}
}
